/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { height: 100vh; }

.text-bold { font-weight: bold; }
.bg-color-primary { background-color: #f9dcc4; !important; }
.bg-color-secondary { background-color: #432818; !important; }
.bg-color-default { background-color: #ffe6d7; !important; }

.color-primary { color: #f9dcc4; !important; }
.color-secondary { color: #432818; !important; }
.color-default { color: #ffe6d7; !important; }

.highlight {
    color: #f65039;
    font-style: italic;
    font-weight: 700;
}

.btn.btn-personal {
    background-color: #d3422e;
    border-radius: 30px;

    font-weight: 600;
}

.boxed-container {
    border: 3px solid #f9dcc4;
    border-radius: 15px;
}

.boxed-container .boxed-container-heading {
    margin-top: -50px;
    margin-bottom: 30px;
    padding: 10px 20px;

    border-radius: 5px;
    background-color: #ffe6d7;
    color: #432818;

    text-transform: uppercase;
    font-size: 1.8em;
    font-style: oblique;
    letter-spacing: .1em;
}

.boxed-container .boxed-container-heading.boxed-title-top {
    margin-top: -30px;
}

.solid-divider {
    border-top: 2px solid rgba(249, 220, 196, 0.61);

    width: 50%;
    transform: translateX(50%);
}

/* Header & Navigation */

.logo-title {
    margin: 0;
    padding: 0;
    font-style: italic;
}

.nav.main-nav .nav-link {
    font-weight: 400;
    color: #bababa;
}

.nav.main-nav .nav-link:hover {
    font-weight: 400;
    color: #e8e8e8;
}

.nav.main-nav .nav-link.active, .nav.main-nav .nav-link.active:hover  {
    font-weight: 700;
    color: white;
}

/* Hero Section */

.hero-section {
    height: 100vh;
    width: 100%;
    background-image: url("../img/pizzeria-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
/*
.title-display {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
*/
.title-display .title {
    font-size: 5em;
    font-weight: bold;
}
.title-display .sub-title {
    font-size: 2em;
    font-style: italic;
}

/* Image Show */
.imageshow-section {
    margin-top: 90px;
    padding: 0 100px 10px;
}

.imageshow-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageshow-section .column-up {
    margin-top: -50px;
}
.imageshow-section .column-down {
    margin-top: 30px;
}

.imageshow-section img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

/* Order Section */

.order-section .btn {
    margin-top: -30px;

    font-size: 1.5em;
    font-weight: 800;
    text-transform: uppercase;
}

/* Review Section */
.review-section {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: auto;
}

.review-section::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.review-section::-webkit-scrollbar-track {
    background-color: #432818;
}
.review-section::-webkit-scrollbar-thumb {
    background: #ffe6d7;
    border-radius: 10px;
}
.review-section::-webkit-scrollbar-thumb:hover {
    background: #f9dcc4;
}

.review-section .review-card {
    display: inline-block;
    position: relative;

    margin: 0 20px;
    min-width: 250px;
    height: auto;

    text-wrap: pretty;
    background-color: #f9dcc4;
    color: #432818;
}
.review-section .review-card p {
    font-style: italic;
}

/* Menu Show & Table */
.menu-show-section {
    padding-top: 50px;
}

.menu-table-section {
    padding: 0 90px 50px;
}

.menu-table-section .table-container {
    margin: 100px 30px;
    padding: 20px 20px 10px;

}
.menu-table-section .table-container:last-child {
    margin-bottom: 0;
}

.menu-table-section .table-container .table {
    --bs-table-color: #ffe6d7;
    --bs-table-bg: #432818;
    --bs-table-border-color: transparent;
}

.menu-table-section .table-container .table th {
    --bs-table-color: rgba(255, 230, 215, 0.63);
    font-style: italic;
}

.menu-table-section .table-container tbody tr td:first-child{
    font-weight: bold;
    font-style: italic;
    font-size: 1em;
}


/* Form Section */
.form-container input, .form-container form select, .form-container form textarea,
.form-container input:focus, .form-container form select:focus, .form-container form textarea:focus{
    background-color: #f9dcc4;
}

.form-container .row .form-floating label {
    padding-left: 1.2em;
}
.form-container .form-floating:has(input:focus) label::after {
    display: none;
}

.notes-area {
    height: 100px;
}

.contact-map {
    width: 500px;
    height: 375px;

    border: 0;
}

